@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Lato');

@media (min-width: 1025px) and (max-width: 1280px) {
  /*Tablet portrait*/
  .sec1 {
    margin-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    /*Tablet landscape*/
    .sec1 {
      margin-top: 50px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*Smarphone*/
}

@media (min-width: 320px) and (max-width: 480px) {
  /*Smaller smartphone*/
}

.sec1 {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.sec1 a {
  text-decoration: none;
}

.sec1 a:hover {
  color: #1d0e72;
}

.co {
  background-color: #474747;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 30%;
  left: 50%;
  right: 50%;
  margin-left: -110px;
  width: 220px;
}

.co:hover {
  color: #000000;
  background-color: #b5b5b5;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #474747;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.h1 {
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

.f1 {
  text-decoration: none;
  color: #e8e8e8;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;
}

.f1:hover {
  text-decoration: underline;
}

.omz {
  display: inline-grid;
  float: left;
  margin-left: 10%;
}

.h12 {
  color: #FFFFFF;
}

.cs {
  display: inline-grid;
  float: right;
  margin-right: 10%;
}

.copy {
  display: inline-grid;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: inline-block;
  margin-top: 110px;
}

.sec1 img {
  position: relative;
  z-index: -1;
  width: 95%;
}

.sec1 h1 {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}

.sec1 p {
  position: absolute;
  top: 23%;
  left: 0;
  right: 0;
}
