@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Lato');

@media (min-width: 1025px) and (max-width: 1280px) {
  /*Tablet portrait*/
  .sec1 {
    margin-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    /*Tablet landscape*/
    .sec1 h1 {
      top: 15% !important;
    }
    .sec1 p {
      top: 25% !important;
    }
    .sec1 button {
      top: 45% !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
  /*Smarphone*/
  .sec1_desktop img {
    display: none;
  }
  .sec1 h1 {
    top: 30% !important;
    background-color: rgb(0, 0, 0, 0.65);
    border-radius: 4px;
    padding: 10px 0 180px 0;
    margin: 0 30px 0 30px;
    color: #fff;
  }
  .sec1 p {
    top: 37% !important;
    margin: 0 30px 0 30px;
    color: #fff;
  }
  .sec1 button {
    top: 46% !important;
    background-color: #98fb98 !important;
    border-radius: 4px;
    color: #000;
  }
  .hm_mobile {
    z-index: -1;
    display: block !important;
    margin: 10px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /*Smaller smartphone*/
  .sec1_desktop img {
    display: none;
  }
  .sec1 h1 {
    top: 30% !important;
    background-color: rgb(0, 0, 0, 0.65);
    border-radius: 4px;
    padding: 10px 0 180px 0;
    margin: 0 30px 0 30px;
    color: #fff;
  }
  .sec1 p {
    top: 44% !important;
    margin: 0 30px 0 30px;
    color: #fff;
  }
  .sec1 button {
    top: 57% !important;
    background-color: #98fb98 !important;
    border-radius: 4px;
    color: #000;
  }
  .hm_mobile {
    z-index: -1;
    display: block !important;
    margin: 10px;
  }
}

.dropbtn {
  color: #000;
}

li a {
  color: #000;
}

.sec1 {
  position: relative;
  padding-top: 80px;
  padding-bottom: 30px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.sec1 a {
  text-decoration: none;
}

.sec1 a:hover {
  color: #1d0e72;
}

.co {
  background-color: #485320;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  top: 32%;
  left: 50%;
  right: 50%;
  margin-left: -110px;
  width: 220px;
}

.co:hover {
  color: #000000;
  background-color: #98FF98;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #474747;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.h1 {
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

.f1 {
  text-decoration: none;
  color: #e8e8e8;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;
}

.f1:hover {
  text-decoration: underline;
}

.omz {
  display: inline-grid;
  float: left;
  margin-left: 10%;
}

.h12 {
  color: #FFFFFF;
}

.cs {
  display: inline-grid;
  float: right;
  margin-right: 10%;
}

.copy {
  display: inline-grid;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: inline-block;
  margin-top: 110px;
}

.sec1 img {
  position: relative;
  z-index: -1;
  width: 95%;
}

.hm_mobile {
  display: none;
}

.sec1 h1 {
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
}

.sec1 p {
  position: absolute;
  top: 19%;
  left: 0;
  right: 0;
}

header { 
  background-color: #fff !important;
}
