@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Lato');

@media (min-width: 1025px) and (max-width: 1280px) {
  /*Tablet portrait*/
  .sec1 {
    margin-top: 50px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) { 
    /*Tablet landscape*/
}

@media (min-width: 481px) and (max-width: 767px) {
  /*Smarphone*/
  .sec1 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto !important;
    grid-gap: 10px;
  }

  .sec1 img{
    min-width: 230px;
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec2 {
    margin: 10px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto auto auto !important;
  }

  .fcol {
    margin: 8px 30px 8px 8px ;
    grid-row: 2/2 !important;
  }

  .wn {
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec2 h4 {
    grid-column: 1/1 !important;
    grid-row: 4/4 !important;
  }

  .wnol {
    margin: 8px 30px 8px 8px ;
    grid-column: 1/1 !important;
    grid-row: 5/5 !important;
  }

  .sec4 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto auto 1fr;
  }

  .sec4 h3 {
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec4 ul {
    margin: 8px 40px 8px 8px ;
    grid-column: 1/1 !important;
    grid-row: 4/4 !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  /*Smaller smartphone*/  
  .sec1 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto !important;
    grid-gap: 10px;
  }

  .sec1 img{
    min-width: 230px;
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec2 {
    margin: 10px !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto auto auto !important;
  }

  .fcol {
    margin: 8px 30px 8px 8px ;
    grid-row: 2/2 !important;
  }

  .wn {
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec2 h4 {
    grid-column: 1/1 !important;
    grid-row: 4/4 !important;
  }

  .wnol {
    margin: 8px 30px 8px 8px ;
    grid-column: 1/1 !important;
    grid-row: 5/5 !important;
  }

  .sec4 {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto auto auto 1fr;
  }

  .sec4 h3 {
    grid-column: 1/1 !important;
    grid-row: 3/3 !important;
  }

  .sec4 ul {
    margin: 8px 40px 8px 8px ;
    grid-column: 1/1 !important;
    grid-row: 4/4 !important;
  }
}

.head {
  padding-top: 80px;
  color: #000000;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  animation: transitionIn 700ms;
}

@keyframes  transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.head a {
  text-decoration: none;
}

.head a:hover {
  color: #1d0e72;
}

.sect {
  background-color: #676767;
  border: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
  border-radius: 5px;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: background-color 200ms linear;
  cursor: pointer;
}

.sect i {
  margin-left: 10px;
  margin-right: 10px;
}

.sect:hover {
  transition: background-color 200ms linear;
  color: #ffffff;
  background-color: #747474;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #474747;
  position: absolute;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}

.h1 {
  color: #e8e8e8;
  font-family: Arial, Helvetica, sans-serif;
}

.f1 {
  text-decoration: none;
  color: #e8e8e8;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 10px;
}

.f1:hover {
  text-decoration: underline;
}

.omz {
  display: inline-grid;
  float: left;
  margin-left: 10%;
}

.h12 {
  color: #FFFFFF;
}

.cs {
  display: inline-grid;
  float: right;
  margin-right: 10%;
}

.copy {
  display: inline-grid;
  color: #FFFFFF;
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
  left: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: inline-block;
  margin-top: 110px;
}

.title {
  margin: 0 40% 0 8%;
}

.title h1 {
  margin: 50px 0 0 0;
}

.title p {
  margin: 12px 0 15px 0;
}

.sec1 {
  display: grid;
  margin: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sec1 img{
  align-self: center;
  justify-self: center;
  width: 50%;
  height: auto;
  grid-column: 2/2;
  grid-row: 1/3;
}

.sec1 p {
  margin: 0 15% 0 15%;
  grid-column: 1/1;
  grid-row: 2/2;
}

.sec1 h1 {
  grid-column: 1/1;
  grid-row: 1/1;
  align-self: end;
}

.sec2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 20px;
  grid-gap: 20px;
}

.sec2 ol li p {
  margin: 8px 0 8px 0;
}

.sec2 p {
  text-align: justify;
  align-self: end;
}

.fc {
  grid-row: 1/1;
  grid-column: 1/1;
}

.wn {
  grid-row: 1/1;
  grid-column: 2/2;
}

.fcol {
  text-align: justify;
  grid-row: 2/4;
  grid-column: 1/1;
}

.wnol {
  text-align: justify;
  grid-row: 3/3;
  grid-column: 2/2;
}

.fts {
  grid-column: 1/1;
  grid-row: 1/1;
}

.gd{
  grid-column: 2/2;
  grid-row: 1/1;
}

.shp {
  margin-bottom: 60px !important;
}

.sec4 {
  justify-items: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 0 !important;
  background-color: #2c2c2c;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
}
  
.sec4 h3 {
  color: #dddddd;
  font-family: Arial;
  margin-bottom: 20px !important;
}
  
.sec4 h4 {
  margin-bottom: 0 !important;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  position: relative;
  display: inline-block;
}
  
.sec4 p {
  margin-bottom: 0 !important;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  text-align: left;
  position: relative;
  display: inline-block;
}

.sec4 ul {
  list-style-position: inside;
}

.sec4 ul li {
  grid-row: 2/2;
  grid-column: 2/2;
  margin-bottom: 0 !important;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  text-align: left;
}

.sec4 div {
  grid-row: 1/3;
  grid-column: 1/1;
}

.bk {
  background-color: #666666;
  padding-top: 8px;
}

header { 
  background-color: #fff !important;
}